<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="vendors/bootstrap/v5.3.3/css/bootstrap.min.css" />
    <link rel="stylesheet" href="vendors/fontawesome/v6.5.2/css/all.min.css" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="Nameless.Bookshelf.Web.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script src="vendors/bootstrap/v5.3.3/js/bootstrap.bundle.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>
